@import url(https://fonts.googleapis.com/css?family=Quicksand)

$font-stack: 'Quicksand', sans-serif
$bg-color: rgba(0, 0, 0, 0.1)
$bg: "../../img/self.jpg"

html, body
  height: 100%
  font: 100% $font-stack
  color: rgba(255, 255, 255, 0.8)

  #mainContainer
    height: 100%
    background:
      image: url($bg)
      size: cover
      position: center

.clock
  text-align: center
  margin: 4em auto
  h1
    font-size: 10em
    padding: 0
    margin: 0
  h5
    font-size: 1.2em
    font-weight: bold

#forecast ul li
  font-size: 1em
  text-align: center
  border: 1px solid rgba(255, 255, 255, 0.2)
  padding: 2px
  background:
    color: rgba(255, 255, 255, 0.3)
  h3
    font-size: 2em
    sup
      font-size: 0.5em
  .today h3
    font-size: 8em

#actionbar
  position: absolute
  bottom: 0.5em
  right: 1.0em
  a
    font-size: 2.2rem
    color: rgba(255, 255, 255, 0.3)
