@import url(https://fonts.googleapis.com/css?family=Ubuntu:500,700,400)

$font-stack: Ubuntu
$bg-color: rgba(0, 0, 0, 0.1)
$bg: "../../img/bg.png"

html, body
  height: 100%
  font: 100% $font-stack
  color: rgba(255, 255, 255, 0.8)
  
  #mainContainer
    height: 100%
    background:
      image: url($bg)
      size: cover
      position: center

.clock
  text-align: center
  margin: 4em auto
  h1
    font-size: 6em
    padding: 0
    margin: 0
  h5
    font-size: 1.2em
    font-weight: bold

#forecast ul li
  font-size: 4.5em
  text-align: center
  h3
    font-size: 1.4em
  .today h3
    font-size: 1.8em

#actionbar
  position: absolute
  bottom: 0.5em
  right: 1.0em
  a
    font-size: 2.2rem
    color: rgba(255, 255, 255, 0.3)