<div data-ng-controller="MainCtrl">
  <div class="clock">
    <h1>{{ date.raw | date:'hh : mm : ss'}}</h1>
    <h5>{{ date.raw | date:'EEEE | MMMM d, yyyy'}}</h5>
  </div>
  <div id="forecast">
    <ul class="list-unstyled">
      <li class="col-md-3" ng-repeat="day in weather.forecast.forecastday">
        <div ng-class="{today: $index == 0}">
          <img class="{{ day.icon }}" ng-src="{{ day.icon_url }}" />
          <h3>{{ day.high.fahrenheit }}</h3>
          <h4 ng-if="$index == 0">Now</h4>
          <h4 ng-if="$index != 0">{{ day.date.weekday }}</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
